<html>
<body>
		<div class="footer-inner z-clearfix" th:fragment="footer">
			<div class="footer-l-top">
				<a target="_blank" href="http://www.smzdm.com/about">关于我们</a> <a
					target="_blank" href="http://www.smzdm.com/contact-us">联系我们</a>
			</div>
			<dl class="footer-l-mid">
				<dt>
					友情链接 <a href="http://www.smzdm.com/links" class="apply-link">申请</a>
				</dt>
				<dd>
					<a href="https://www.lemall.com/" target="_blank">乐视手机</a>
				</dd>
			</dl>
			<div class="footer-l-btm">
				<p>版权所有 本站内容未经书面许可,禁止一切形式的转载。 &copy; copyright 2010-2017 什么值得买.
					All rights reserved.</p>
			</div>
		</div>
</body>
</html>